<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jee-p</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Connex</display-name>
    <servlet-name>Connex</servlet-name>
    <servlet-class>com.acc.Connex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connex</servlet-name>
    <url-pattern>/connex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insc</display-name>
    <servlet-name>Insc</servlet-name>
    <servlet-class>com.acc.Insc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insc</servlet-name>
    <url-pattern>/insc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>incri</display-name>
    <servlet-name>incri</servlet-name>
    <servlet-class>com.acc.Insc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>incri</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionForm</display-name>
    <servlet-name>ConnectionForm</servlet-name>
    <servlet-class>bean.ConnectionForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionForm</servlet-name>
    <url-pattern>/ConnectionForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Decon</display-name>
    <servlet-name>Decon</servlet-name>
    <servlet-class>com.acc.Decon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Decon</servlet-name>
    <url-pattern>/decon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Location</display-name>
    <servlet-name>Location</servlet-name>
    <servlet-class>com.acc.Location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/Location</url-pattern>
  </servlet-mapping>
</web-app>